{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "User Profile" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "User Profile" %}</h3>
                </div>
                <div class="panel-body">
                    <p><strong>{% trans "Username" %}:</strong> {{ user.username }}</p>
                    <p><strong>{% trans "Email" %}:</strong> {{ user.email }}</p>
                    <p><strong>{% trans "Date joined" %}:</strong> {{ user.date_joined }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}