{% extends 'rating/detail/detail_base.html' %}
{% load static %}
{% block title %}<span data-lang-key="teacherDetailStats">教师详细统计</span>{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'rating/css/detail.css' %}">
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row" align="center">
            <h1>{{ rating_event.title }}</h1>
            <span class="pull-right">{{ rating_event.description }}</span>
            <br>
            <span class="pull-right">{{ rating_event.create_time|date:"Y-m-d" }}</span>
        </div>
        <div class="row">
            <table class="center-align">
                <thead>
                <tr>
                    <th><span data-lang-key="courseTeacher">任课教师</span></th>
                    <th><span data-lang-key="class">班级</span></th>
                    <th><span data-lang-key="course">课程</span></th>
                    <th><span data-lang-key="totalScore">总分</span>({{ sum_score }})</th>
                </tr>
                </thead>
                <tbody>
                {% for tlc in info_tlc_list %}
                    {% for answer in tlc|first %}
                        {% with teacher=answer|first the_class=answer|slice:"1:2"|first lesson=answer|slice:"2:3"|first item_list=answer|slice:"3:4"|first single=answer|slice:"4:5"|first %}
                            <tr>
                                <td>{{ teacher.name }}{% if teacher.description != "" %}(<span data-lang-key="description">{{ teacher.description }}</span>)
                                {% endif %}</td>
                                <td>{{ the_class.title }}{% if the_class.description != "" %}({{ the_class.description }})
                                {% endif %}</td>
                                <td>{{ lesson.title }}{% if lesson.description != "" %}({{ lesson.description }})
                                {% endif %}</td>
                                <td>{{ single }}</td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}