{% extends 'rating/base.html' %}
{% load static %}
{% block title %}<span data-lang-key="eventManagement">事件管理</span>{% endblock %}
{% block content %}
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title" data-lang-key="eventPreview">事件预览</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-danger" onclick="deleteSelectEvent();"><i class="fa fa-trash" data-lang-key="deleteEvent">删除事件</i>
                    </button>
                    <button type="button" class="btn btn-success" onclick="createRatingEvent()"><i class="fa fa-plus" data-lang-key="addEvent">添加事件</i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <form id="delete_form" action="{% url 'rating:delete_event' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="create_event_url" value="{% url 'rating:create_event' %}">
                    <input type="hidden" id="event_detail_url" value="{% url 'rating:event_detail' %}">
                    <table class="table dataTable">
                        <thead>
                        <tr>
                            <th class="checkbox-column"><input id="select_all_checkbox" type="checkbox"></th>
                            <th>#</th>
                            <th data-lang-key="eventName">事件名称</th>
                            <th data-lang-key="eventStatus">事件状态</th>
                            <th data-lang-key="voteType">评分类型</th>
                            <th data-lang-key="createTime">创建时间</th>
                            <th data-lang-key="remarks">备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for a_event in all_event %}
                            <tr class="pointer_tr">
                                <td><input class="choose_box" type="checkbox" name="check_{{ a_event.event_id }}">
                                </td>
                                <td class="pointer_td"
                                    onclick="clickEventDetail({{ a_event.event_id }})">{{ a_event.event_id }}</td>
                                <td class="pointer_td"
                                    onclick="clickEventDetail({{ a_event.event_id }})">{{ a_event.title }}</td>
                                <td class="pointer_td"
                                    onclick="clickEventDetail({{ a_event.event_id }})"><span data-lang-key="{% if a_event.status == 0 %}inProgress{% else %}completed{% endif %}">{% if a_event.status == 0%}进行中
                                    {% else %}已完成{% endif %}</span></td>
                            <td class="pointer_td"
                                    onclick="clickEventDetail({{ a_event.event_id }})"><span data-lang-key="{% if a_event.vote_type == 0 %}anonymousVote{% else %}namedVote{% endif %}">{% if a_event.vote_type == 0 %}不记名
                                    {% else %}记名{% endif %}</span></td>
                            <td class="pointer_td"
                                    onclick="clickEventDetail({{ a_event.event_id }})">{{ a_event.create_time }}</td>
                                <td class="pointer_td" onclick="clickEventDetail({{ a_event.event_id }})">
                                    {% if a_event.description == None %}
                                    {% else %}
                                        {{ a_event.description }}
                                    {% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>

        </div>

    </section>
{% endblock %}
{% block script %}
<script src="{% static 'rating/js/event_admin.js' %}" defer></script>
{% endblock %}
