<header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="javascript:void(0);" class="navbar-brand"><b data-lang-key="teacherEvaluation">教师评价问卷</b></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <div class="navbar-right">
          <!-- <button class="btn btn-default navbar-btn" onclick="toggleLanguage()" data-lang-key="switchLang">切换语言</button> -->
        </div>
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>